/* Importa a fonte Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Configurações globais da página */
html, body {
    height: 100%; /* Garante que ocupe toda a altura da tela */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* Impede rolagem horizontal */

    background-color: rgb(226, 226, 226);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* Estilização do cabeçalho */
header {
    color: black;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    font-size: 20px;
}

#logoutButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}


#logoCL {
    width: 100px; /* Define o tamanho do logo */
}

/* Nome do salão */
.name {
    font-size: 46px;
}

.name2 {
    font-size: 30px;
}

/* Barra de navegação */
nav {
    text-align: center;
    padding: 10px;
    margin-top: 0px;
}

/* Links de navegação */
a {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    border-radius: 4px;

    transition: 0.6s; /* Efeito de transição */
}

/* Efeito hover nos links do menu */
nav > a:hover {
    color: rgb(226, 226, 226);
    background-color: rgb(138, 137, 137);
}

/* Seção principal */
section {
    width: 86%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.168);
    border-radius: 10px;
}

/* Seção de introdução */
#inicio {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.168);
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
    display: flex;
}

/* Texto da seção de introdução */
#textoInicio {
    margin: auto 20px;
    width: 800px;
    font-size: 20px;
    font-weight: normal;
}

/* Imagem principal */
#imgInicio {
    width: 100%;
    height: auto;
}

/* Imagem ao lado do texto */
#imgTextoInicio {
    margin-left: auto;
}

/* Arredondamento da imagem ao lado do texto */
#imgTextoInicio > img {
    border-radius: 8px;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    width: 100%;
    bottom: 0;
}

/* Personalização da barra de rolagem */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
